code{
    font-family: monospace;
}
.difficulty-easy{
    color: green;
}
.difficulty-medium{
    color: orange;
}
.difficulty-hard{
    color: red;
}
.contain{
    display: flex;
    gap: 10px;
    flex-direction: inline;
}
.problemsolve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}
.probleminfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}
.problema{
    width: 75vw;
}